.selector-lang {
    background: var(--nooni-bg);
    color: black;
    font-size: 13px;
}

.first-selction select {
    width: 100px;
}

.first-selction {
    height: 100%;
    margin-top: 5px;
    width: 100px;
}



.offcanvas-style {
    gap: 50px;
    justify-content: center;
    margin: 0 0 100px 50px;
    font-size: 1.5rem;
    font-weight: 700;

}

.user-icon {
    position: absolute;
    margin-top: 20px;
    background-color: white;
    width: 350px;
    display: none;
    padding: 30px;
    right: 0;
    z-index: 20;
    height: 300px;
    color: #000;


}

.left-icon:hover .user-icon {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    height: 10vh;
    background-color: white;
    padding: 35px;
    border-bottom: rgba(0, 0, 0, 0.213) solid 1px;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 999;
}

.navigation {
    display: flex;

}

.burger-menu {
    height: 24px;
}

.search-interface {
    height: 20px;
}

.logo {
    height: 34px;

}

.left-icon {
    height: 24px;

}

.left-icon img {
    height: 100%;
}

.f-icon-search {
    position: relative;

}

.search-icon {
    position: absolute;
    width: 22px;
    right: 10px;
    top: 10px;
    z-index: 9000;
}

#carouselExampleCaptions {
    background-color: var(--nooni-bg);
}

#slider {
    display: flex;
}

#slider-img1 {

    width: 50%;
}

#slider-p1 {

    color: black;
}

.img-scrol img {
    height: 150px;
    border-radius: 50%;
}

.img-scrol img :hover {
    height: 200px;
    border-radius: 25%;
}

.selchion-size {
    display: none;
    height: auto;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

.selchion-size ul {
    top: 15px;
    z-index: 9;
    width: 300px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.selchion-size ul li {
    text-decoration: none;
}

.selchion-size ul li :hover {
    background-color: var(--nooni-bg);
}

.selchion:hover .selchion-size {
    display: flex;
}

/*  */
.hero {

    width: 100%;
    height: 810px;
    background: url('../imgs/about-2.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.contact{
    z-index: 9;
}
.main-contact{
    position: inherit;
    top: -220px;
    padding: 80px 90px;
    z-index: 3;
    background-color: white;
}
.main-contact input{
   border: 1px solid black;
   border-radius: 0;
}
.main-contact textarea{
   border: 1px solid black;
   border-radius: 0;
}
.form-control:focus{
    box-shadow: none;
    border-color: #000;
}
.contact-btn{
    border-radius: 0;
}
.contact-btn:hover{
    transition: ease all 500ms;
    background-color: rgba(255, 0, 0, 0.789) !important;
}

.main-footer {
    margin-top: 100px;
}

.main-footer .top-footer {
    margin-bottom: 100px;
}

.foorter-icon {
    gap: 20px;
    height: 20px;
}

.footer-btn {
    color: white;
}

.footer-btn:hover {
    background-color: red !important;
    border: 0;
}

.first-bot-footer a {
    color: rgba(0, 0, 0, 0.557);
    text-decoration: none;
}
.top-footer a {
    color: rgba(0, 0, 0, 0.557);
    text-decoration: none;
}

