.selector-lang {
    background: var(--nooni-bg);
    color: black;
    font-size: 13px;
}

.first-selction select {
    width: 100px;
}

.first-selction {
    height: 100%;
    margin-top: 5px;
    width: 100px;
}

a {
    color: var(--nooni-bg);
}

.offcanvas-style {
    gap: 50px;
    justify-content: center;
    margin: 0 0 100px 50px;
    font-size: 1.5rem;
    font-weight: 700;

}

.user-icon {
    position: absolute;
    margin-top: 20px;
    background-color: white;
    width: 350px;
    display: none;
    padding: 30px;
    right: 0;
    z-index: 20;
    height: 300px;
    color: #000;


}

.left-icon:hover .user-icon {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    background-color: var(--nooni-bg);
    padding: 25px;

}

.navigation {
    display: flex;

}

.burger-menu {
    height: 24px;
}

.search-interface {
    height: 20px;
}

.logo {
    height: 24px;

}

.left-icon {
    height: 24px;

}

.left-icon img {
    height: 100%;
}

.f-icon-search {
    position: relative;

}

.search-icon {
    position: absolute;
    width: 22px;
    right: 10px;
    top: 10px;
    z-index: 9000;
}

#carouselExampleCaptions {
    background-color: var(--nooni-bg);
}

#slider {
    display: flex;
}

#slider-img1 {

    width: 50%;
}

#slider-p1 {

    color: black;
}

.img-l11 {
    width: 650.345px;
    height: 825px;
    object-position: center;
    object-fit: contain;
    max-width: 100%;
}



.main-herooo {
    background-color: var(--nooni-bg);
}

.ml9 {
    position: relative;
    font-weight: 200;
    font-size: 4em;
}

.ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}

.letters {
    font-size: larger;
    font-weight: 700;
}

.carousel-indicators {
    position: absolute;
    flex-direction: row;
    justify-content: flex-start;
    left: -200px;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #000;
}

.carousel-indicators .active {
    background-color: #000 !important;
}

.s-secshen {
    margin: 50px auto;

}

.th-lift-top:hover img {
    transform: scale(1.1);
    transition: all ease-in-out 1s;

}

.img-scrol img {
    height: 150px;
    border-radius: 50%;
}

.img-scrol img :hover {
    height: 200px;
    border-radius: 25%;
}

.th-lift-top div h2 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-bottom: 46px;
}

.th-lift-top div a {
    color: #000;
    font-weight: 600;
}

.th-lift-bot div {
    color: #000;
    padding: 41px 41px 41px 41px;

}

.th-lift-bot div a {
    color: #000;
    font-weight: 600;
}

.th-secshen-right-c {
    width: 100%;
    padding: 68px 68px 68px 68px;
    color: #FFF;
    text-align: center;
    align-items: center;
}

.th-secshen-right div h2 {
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-bottom: 40px;
}

.th-secshen-foot {
    background-color: #ffd5c9;
    height: 20vh;
    margin-top: 20px;
    object-fit: contain;
    padding: 40px 100px;
    margin-bottom: 60px;

}

.th-secshen-foot img {
    right: 0;
    bottom: 0;
    transition: all ease-in-out 1s;
}

.th-secshen-foot:hover img {
    transform: translate(0, 50px);
}

.f-card {
    border: 0;
    color: #000;
}

.f-card h1 {
    font-size: 4rem;

}

.f-card a {
    border: 0;
    color: #000;
    text-decoration: none;
}

.card button {
    display: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    border: 0;
    background-color: white;
}

.card:hover button {
    display: block;

}

.card button:hover {
    background-color: red;
}

.top-card1 {
    height: 386px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-image: url(../imgs/01-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card1:hover {
    background-image: url(../imgs/01-2-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card2 {
    height: 386px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-image: url(../imgs/08-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card2:hover {
    background-image: url(../imgs/10-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card3 {
    height: 386px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-image: url(../imgs/13-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card3:hover {
    background-image: url(../imgs/13-2-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card4 {
    height: 386px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-image: url(../imgs/27-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card4:hover {
    background-image: url(../imgs/26-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card5 {
    height: 386px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-image: url(../imgs/02-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card5:hover {
    background-image: url(../imgs/02-4-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card6 {
    height: 386px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-image: url(../imgs/22-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card6:hover {
    background-image: url(../imgs/26-450x572.jpg);
    background-repeat: no-repeat;
}

.card-body {
    max-height: 96px;
    font-size: 14px;
}

.top-card7 {
    height: 386px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-image: url(../imgs/34-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card7:hover {
    background-image: url(../imgs/06-450x572.jpg);
    background-repeat: no-repeat;
}

.p-card-icon {
    flex-direction: row-reverse;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.s-card-icon {
    flex-direction: row-reverse;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: -1;
    display: none;
}

.th-card-icon {
    flex-direction: row-reverse;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: -1;
    display: none;
}

.card:hover .s-card-icon {
    display: block;
    z-index: 1;
    bottom: 110px;
}

.card:hover .th-card-icon {
    display: block;
    z-index: 1;
    bottom: 160px;
}

.card-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: stroke;
}

.p-card-icon p {
    display: none;
}

.s-card-icon p {
    display: none;
}

.th-card-icon p {
    display: none;
}

.card:hover .p-card-icon {
    bottom: 60px;

}

.p-card-icon:hover p {
    display: block;
}

.s-card-icon:hover p {
    display: block;
}

.th-card-icon:hover p {
    display: block;
}

.p-card-icon:hover .card-icon,
.p-card-icon:hover p {
    background-color: red;

}

.s-card-icon:hover .card-icon,
.s-card-icon:hover p {
    background-color: red;
}

.th-card-icon:hover .card-icon,
.th-card-icon:hover p {
    background-color: red;
}



.card .p-card-icon i {
    font-size: 30px;

}

.th-secshen-foot span {
    font-size: 5rem;
    font-weight: 800;
}



.vidio-sec {
    background-size: cover;
    height: 50vh;
}

/*  */

.video-container {

    position: relative;
    width: 100%;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.text-overlay {
    background-color: #00000057;
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.text-overlay h1 {
    font-weight: 800;
    font-size: 10rem;
    width: 100%;
    text-align: center;
    color: #ffffff46;
}

/*  */
.s-Carosel a:first-child {
    color: rgba(0, 0, 0, 0.517);
    text-decoration: none;
}

.s-Carosel a:nth-child(2) {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.s-Carosel a:last-child {
    color: rgb(0, 0, 0);

}

.top-footer a {
    color: rgba(0, 0, 0, 0.557);
    text-decoration: none;
}

.s-Carosel {
    padding: 100px;
}

/*  */

.main-footer {
    margin-top: 100px;
}

.main-footer .top-footer {
    margin-bottom: 100px;
}

.foorter-icon {
    gap: 20px;
    height: 20px;
}

.footer-btn {
    color: white;
}

.footer-btn:hover {
    background-color: red !important;
    border: 0;
}

.first-bot-footer a {
    color: rgba(0, 0, 0, 0.557);
    text-decoration: none;
}

/*  */
@media (max-width: 1199px) {
    .img-l11 {
        width: 440.345px;
        height: 500px;
        object-position: center;
        object-fit: contain;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .img-l11 {
        width: 340.345px;
        height: 425px;
        object-position: center;
        object-fit: contain;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .img-l11 {
        width: 220.345px;
        height: 325px;
        object-position: center;
        object-fit: contain;
        max-width: 100%;
    }

    .ml9 {
        font-size: 24px;
    }

    .first-selction {
        display: none;
    }

    .th-secshen {
        flex-direction: column;
    }

    .th-secshen-lift {
        order: 2;
    }

    .th-secshen-right {
        order: 1;
    }

    .s-Carosel {
        padding: 0;
    }

    .s-Carosel h1 {
        font-size: 24px;
    }

    .img-scrol img {
        height: 100px;
        border-radius: 50%;
    }

    .th-secshen-right-c {
        width: 100%;
        padding: 40px 20px 20px 20px;
        color: #FFF;
        text-align: center;
        align-items: center;
    }

    .th-secshen-right div h2 {
        font-size: 35px;
        font-weight: 400;
        letter-spacing: 0.05em;
        margin-bottom: 30px;
    }

    .th-secshen-lift div h2 {

        font-size: 35px;
        font-weight: 400;
        letter-spacing: 0.075em;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .th-lift-bot div {
        padding: 20px 20px 20px 20px;
    }

    .th-lift-bot div h2 {

        font-size: 30px;
        font-weight: 400;
        letter-spacing: 0.03em;

        margin-bottom: 40px
    }

    .th-secshen-foot {
        height: 50vh;
        margin-top: 20px;
        object-fit: contain;
        padding: 20px 20px;
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;

    }


    .th-secshen-foot span {
        font-size: 4rem;
        font-weight: 800;
    }


    .th-secshen-foot-p h2 {
        font-size: 2rem;
        text-align: center;
    }

    .f-card h1 {
        font-size: 3.5rem;
    }

    .card {
        height: 376px;
    }

    .s-carousel-s {
        flex-direction: column;
        max-height: 55vh;

    }

    .s-carousel {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-footer .top-footer {


        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .first-top-footer {
        align-items: center;
    }

    .secound-top-footer {
        align-items: center;
    }

    .therd-top-footer {
        align-items: center;
    }

    .bot-footer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}