.selector-lang {
    background: var(--nooni-bg);
    color: black;
    font-size: 13px;
}

.first-selction select {
    width: 100px;
}

.first-selction {
    height: 100%;
    margin-top: 5px;
    width: 100px;
}



.offcanvas-style {
    gap: 50px;
    justify-content: center;
    margin: 0 0 100px 50px;
    font-size: 1.5rem;
    font-weight: 700;

}

.user-icon {
    position: absolute;
    margin-top: 20px;
    background-color: white;
    width: 350px;
    display: none;
    padding: 30px;
    right: 0;
    z-index: 20;
    height: 300px;
    color: #000;


}

.left-icon:hover .user-icon {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    height: 10vh;
    background-color: white;
    padding: 35px;
    border-bottom: rgba(0, 0, 0, 0.213) solid 1px;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 999;
}

.navigation {
    display: flex;

}

.burger-menu {
    height: 24px;
}

.search-interface {
    height: 20px;
}

.logo {
    height: 34px;

}

.left-icon {
    height: 24px;

}

.left-icon img {
    height: 100%;
}

.f-icon-search {
    position: relative;

}

.search-icon {
    position: absolute;
    width: 22px;
    right: 10px;
    top: 10px;
    z-index: 9000;
}

#carouselExampleCaptions {
    background-color: var(--nooni-bg);
}

#slider {
    display: flex;
}

#slider-img1 {

    width: 50%;
}

#slider-p1 {

    color: black;
}

/*  */

.carousel-item img {
    object-fit: contain;
    width: 100%;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: -230px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    flex-direction: column;
    width: 140px;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    height: 140px;
    width: 133px;
}

.carousel-it1 {
    background-image: url(../imgs/01-450x572.jpg);
    object-fit: contain;
    width: 100%;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;

}

.carousel-it2 {
    background-image: url(../imgs/01-2-450x572.jpg);
    object-fit: contain;
    width: 100%;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;

}

.carousel-it3 {
    background-image: url(../imgs/01-3-450x572.jpg);
    object-fit: contain;
    width: 100%;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;

}

.carousel-it4 {
    background-image: url(../imgs/01-5-450x572.jpg);
    object-fit: contain;
    width: 100%;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;

}

.carousel-indicators .active {
    opacity: 1 !important;
}

.checked {
    color: orange;
}

.stock {
    color: orange;
}

.timer {
    background-color: black;
    color: white;
    width: 55%;
    height: 60px;
    font-size: 2rem;
    padding: 5px;
    text-align: center;
}

/*  */

#countdown {
    background-color: #000;
    width: 52%;

}

.timer2 {
    display: inline-block;
    font-size: 0.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    color: white;
}

li span {
    display: block;
    font-size: 1.5rem;
}

.emoji {
    display: none;
    padding: 0.5rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}

/*  */
.price span {
    text-decoration: line-through;
    color: #0000007a;
    font-size: 1rem;
    margin-left: 10px;
}

.price-p {
    color: #0000007a;
}

.color-palit1 {
    width: 40px;
    height: 40px;
    background-color: black;

    cursor: pointer;
}

.color-palit2 {
    width: 40px;
    height: 40px;
    background-color: #3d503d;
    cursor: pointer;

}

.color-palit3 {
    width: 40px;
    height: 40px;
    background-color: #706758;
    cursor: pointer;

}

.color-palit4 {
    width: 40px;
    height: 40px;
    background-color: #c98d57;
    cursor: pointer;

}


.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.counter button {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.counter button:hover {
    background-color: #e0e0e0;
}

.counter span {
    font-size: 20px;
    font-weight: bold;
}

.b-add {
    background-color: #999999;
    margin-top: 20px;
    border-radius: 0;
    color: white;
    border: 0;
}

.b-add:hover {
    background-color: #878080;

}

.p-buy {
    margin-top: 20px;
    border: 1px solid black;
    color: #000;
    background-color: white;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

.p-buy:hover {
    border: 1px solid red;
    color: red;
    cursor: not-allowed;
}

.ditals {
    margin-top: 100px;
    height: 65px;
    gap: 10px;
}

.ditals h2:first-child {
    padding: 5px;
    background-color: var(--nooni-bg);
}

.ditals h2 {
    height: 75px;
    width: 270px;
    cursor: pointer;
    text-align: center;
}

.ditals h2:hover {
    background-color: var(--nooni-bg);
}

.prod-dim p span {
    color: #0000005d;
}

.th-secshen-foot:hover img {
    transform: translate(0, 50px);
}

.f-card {
    border: 0;
    color: #000;
}

.f-card h1 {
    font-size: 4rem;

}

.f-card a {
    border: 0;
    color: #000;
    text-decoration: none;
}

.card button {
    display: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    border: 0;
    background-color: white;
}

.card:hover button {
    display: block;

}

.card button:hover {
    background-color: red;
}

.top-card1 {
    height: 386px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-image: url(../imgs/01-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card1:hover {
    background-image: url(../imgs/01-2-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card2 {
    height: 386px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-image: url(../imgs/08-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card2:hover {
    background-image: url(../imgs/10-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card3 {
    height: 386px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-image: url(../imgs/13-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card3:hover {
    background-image: url(../imgs/13-2-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card4 {
    height: 386px;
    width: 100%;
    object-fit: contain;
    background-size: contain;
    background-image: url(../imgs/27-450x572.jpg);
    background-repeat: no-repeat;
}

.top-card4:hover {
    background-image: url(../imgs/26-450x572.jpg);
    background-repeat: no-repeat;
}

.s-card-icon {
    flex-direction: row-reverse;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: -1;
    display: none;
}

.th-card-icon {
    flex-direction: row-reverse;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: -1;
    display: none;
}

.card:hover .s-card-icon {
    display: block;
    z-index: 1;
    bottom: 110px;
}

.card:hover .th-card-icon {
    display: block;
    z-index: 1;
    bottom: 160px;
}

.card-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: stroke;
}

.p-card-icon p {
    display: none;
}

.s-card-icon p {
    display: none;
}

.th-card-icon p {
    display: none;
}

.card:hover .p-card-icon {
    bottom: 60px;

}

.p-card-icon:hover p {
    display: block;
}

.s-card-icon:hover p {
    display: block;
}

.th-card-icon:hover p {
    display: block;
}

.p-card-icon:hover .card-icon,
.p-card-icon:hover p {
    background-color: red;

}

.s-card-icon:hover .card-icon,
.s-card-icon:hover p {
    background-color: red;
}

.th-card-icon:hover .card-icon,
.th-card-icon:hover p {
    background-color: red;
}



.card .p-card-icon i {
    font-size: 30px;

}
.p-card-icon {
    flex-direction: row-reverse;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
.card-body {
    max-height: 96px;
    font-size: 14px;
}
.main-footer {
    margin-top: 100px;
}

.main-footer .top-footer {
    margin-bottom: 100px;
}

.foorter-icon {
    gap: 20px;
    height: 20px;
}

.footer-btn {
    color: white;
}

.footer-btn:hover {
    background-color: red !important;
    border: 0;
}

.first-bot-footer a {
    color: rgba(0, 0, 0, 0.557);
    text-decoration: none;
}
.top-footer a {
    color: rgba(0, 0, 0, 0.557);
    text-decoration: none;
}